@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arimo&display=swap");

html {
  scroll-behavior: smooth !important;
}

body {
  /* background-color: rgb(242, 252, 255) !important; */
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Arimo", sans-serif !important;
}

.big-circle {
  height: 180px;
  width: 180px;
  background-color: rgba(172, 210, 235, 0.5);
  border-radius: 50%;
  z-index: 0;
}

.small-circle {
  height: 40px;
  width: 40px;
  background-color: rgba(172, 210, 235, 0.5);
  border-radius: 50%;
  z-index: 0;
}

#circle-1 {
  margin-top: -40px;
  margin-left: 900px;
  overflow-x: hidden;
}

#circle-2 {
  /* margin-top: -40px; */
  margin-left: -120px;
}

#circle-3 {
  margin-left: 900px;
}

#circle-4 {
  margin-left: 20px;
}

.img-container {
  text-align: center;
  margin-top: 100px;
}

.img {
  height: 400px;
  width: 450px;
  overflow: hidden;
}

.img-text {
  text-align: center;
}

.form-container {
  margin-top: -90px;
  z-index: 1;
}

form {
  margin-top: 30px;
}

.f-head {
  margin-top: 20px;
  margin-bottom: 20px;
}

.group {
  margin-bottom: 20px !important;
}

.btn-div {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.button {
  background: linear-gradient(to right, #0066cc 0%, #66ffff 100%);
  border: none;
  padding: 10px 0px;
  width: 180px;
  border-radius: 25px;
}
.button:hover {
  background: linear-gradient(to right, #66ffff 0%, #0066cc 100%);
}

.button:focus,
.button:active:focus,
.button.active:focus,
.button.focus,
.button:active.focus,
.button.active.focus {
  outline: none;
  outline: 0;
}

@media screen and (max-width: 992px) {
  body {
    overflow-x: hidden;
  }

  #circle-1 {
    margin-left: 600px !important;
  }

  #circle-3 {
    margin-left: 600px !important;
  }
}

@media only screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  .form-container {
    margin-top: -200px !important;
  }

  #circle-1 {
    display: none;
  }

  #circle-3 {
    display: none;
  }

  .gap {
    display: none;
  }

  .sdate {
    width: 50% !important;
  }

  .edate {
    width: 50% !important;
  }

  .img-container {
    display: none;
  }
  .img-text {
    display: none;
  }
  .right {
    margin: auto;
  }
}

@media screen and (max-width: 600px) {
  body {
    overflow-x: hidden;
  }

  .img-container {
    display: none;
  }

  .gap {
    display: none;
  }

  .right {
    width: 90% !important;
    margin: auto !important;
  }
}
